USE [master]
GO
/****** Object:  Database [TelefonRehberiDb]    Script Date: 17.2.2022 09:25:11 ******/
CREATE DATABASE [TelefonRehberiDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelefonRehberiDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TelefonRehberiDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelefonRehberiDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TelefonRehberiDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelefonRehberiDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelefonRehberiDb]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 17.2.2022 09:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Telephone] [char](11) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [City], [Address], [Telephone]) VALUES (1, N'Yusuf Kenan', N'GİRGİN', N'Ankara', N'Atayurt Mah.', NULL)
INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [City], [Address], [Telephone]) VALUES (4, N'sasac', N'vdvf', N'aaa', N'vfv', NULL)
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
USE [master]
GO
